@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
    letter-spacing: 0.5px;
}

body {
    background-image: url("../img/07039b0779fea365e2d41117c128ea4c.jpg");
    background-attachment: fixed;
    background-size: auto;
}

.header-name {
    text-align: center;
    padding-top: 0.6em;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1024px;
    margin: 1em auto;
    background-color: #d4bebe4b;
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

.list-item {
    margin:0.8em;
    padding: 1em;
    background-color: #fff;
    border: 1px solid #33333336;
}

.list-item table {
    max-width: 1000px;
    border-collapse: collapse;
}

.list-item table thead {
    text-align: center;
    height: 100px;
    overflow-y: hidden;
}

.list-item table th ,tbody tr td {
    padding: 1.2em;
    text-align: center;
    border-bottom: 1px solid #b1a4a44b;
}

.counter-price-item {
    width: 100%;
    padding: 0.8em;
    display: flex;
    justify-content: flex-start;
}

.counter-price-item .count-price-box {
    display: inline-flex;
    background-color: #fff;
    border:1px solid #33333336;
    margin: 1rem;
}

.counter-price-item .count-price-box .count-label,.total-price {
    padding: 1em;
}

.operation-paying {
    padding: 0 1em 0 1em;
    width:100%;
    display: flex;
    justify-content: space-between;
}

.text-promotion {
    margin: 1em 0 1em 0;
}

.enter-promo input {
    width: 300px;
    padding: 0.6em;
    border: 1px solid #33333321;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 1em;
}

.enter-promo input:hover,
.enter-promo input:focus {
    box-shadow: inset 0 1px 10px #33333331;
    outline: none;
}

.enter-promo button {
    width: 180px;
    padding: 0.6em;
    border-top: 1px solid #33333321;
    border-right: 1px solid #33333321;
    border-bottom: 1px solid #33333321;
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.07s ease-in;
}

.enter-promo button:hover {
    background-color: #3333331f;
}

.enter-promo button:active {
    background-color: #333;
    color: #fff;
}

.btn-operation-cart {
    display: flex;
    flex-direction: column;
    margin: 1em auto;
}

.btn-operation-cart button ,a {
    text-decoration:none;
    color: #333;
    padding: 0.7em;
    margin-bottom: 1em;
    border:1px solid #3333331f;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.07s ease-in;
    font-size: 1em;
}

.btn-operation-cart a {
    background-color: buttonface;
}

.btn-operation-cart button:hover ,
a:hover {
    background-color: #3333331b;
}

.btn-operation-cart button:active ,
a:active {
    background-color: #333;
    color: #fff;
}

.add-count-item {
    display: flex;
    justify-content: space-evenly;
}

.add-count-item .add-count-btn {
    padding:0.7em 1em 0.7em 1em;
    border: 1px solid #333333;
}

.add-count-decrease ,.add-count-increase {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}