@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
}

.header-page-text {
    text-align: center;
    font-size: 2.5em;
    padding: 2rem;
    color: #333;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: buttonface;
    background: url("https://i.pinimg.com/564x/07/03/9b/07039b0779fea365e2d41117c128ea4c.jpg");
    background-repeat: repeat;
    backdrop-filter: blur(5%);
    height: 100%;
}

.container .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 960px;
    height: 100vh;
    background-color: buttonface;
    box-shadow: -2px 0 5px #3333333c;
    align-content: center;
}

.container .login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box {
    padding: 1rem;
    width: 100%;
}

.input-box p {
    font-size: 30px;
    margin-bottom: 0.6rem;
}

.input-box input ,textarea {
    padding: 0.4rem;
    width: 450px;
    font-size: 1.3rem;
    border: none;
    border-radius: 10px;
    background: #25252519;
    resize: none;
}

.input-box input[type="text"]:focus ,.input-box input[type="password"]:focus  {
    background-color: #28282821;
    outline: none;
    caret-color: #3333338e;
    box-shadow: 0 0 8px #3333333a;
}

.input-box button {
    width: 100%;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
    border:none;
    border-radius: 10px;
    background-color: #3333333a;
    transition: all 0.05s ease-in;
}

.input-box button:hover {
    background-color: #cfcfcf5a;
}

.input-box button:active {
    background-color: #333;
    color: #fff;
}

.password-strength {
    display: none;
    margin: 0.8rem 0 0 0;
}

.password-strength strong {
    font-size: 1rem;
}

.password-strength-meter {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 450px;
    height: 15px;
    margin: 10px 0 0 0;
}

.password-strength-meter span {
    width:70px;
    background-color: #33333324;
}

.Sign-up {
    width: 100%;
    font-size: 1em;
    text-align: center;
    margin-top: 1em;
}