:root {
    --padding-text-float: 1rem 0 1rem 0;
    --theme-background-color: rgba(233, 229, 233, 0.202);
    --theme-text-background-color: rgb(240, 236, 240);
}

.owl-carousel {
    width: 100%;
}

.owl-carousel img {
    width: 100%;
    height: 800px;
    filter: brightness(70%);
    object-fit:cover;
}

.float-caption {
    position: absolute;
    left: 30%;
    transform: translate(25%, -220%);
    width: 700px;
    height: 250px;
    z-index: 1;
}

.float-caption h2 {
    -webkit-text-fill-color: brown;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(253, 196, 26);
    font-size: 5rem;
    width: 450px;
    padding: 0.6rem;
    text-align: center;
    letter-spacing: 0.9px;
}

.float-caption h3:not(span) {
    padding: var(--padding-text-float);
    color: #fff;
    text-shadow: 3px 3px 2px rgba(25, 25, 25, 0.519);
    font-size: 1.9rem;
    letter-spacing: 2px;
    transform: translateX(15%);
    color: #fff;
    -webkit-text-fill-color: white;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: brown;
}

.float-caption span {
    background-color: #333;
    color: #fff;
    padding: 0.5em;
    border-radius: 10px;
    -webkit-text-fill-color: white;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff00;
}

.list-promotion-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 3rem auto;
}

@media only screen and (max-width: 1500px){
    .list-promotion-item {
        width: 86%;
    }
}
@media only screen and (max-width: 1200px){
    .list-promotion-item {
        width: 90%;
    }
}

.list-promotion-item .promotion-item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 300px;
    margin: 0 0 2rem 0;
    box-shadow: 0 2px 2px rgba(54, 54, 54, 0.776);
    border-radius: 20px;
    align-self: center;
    overflow: hidden;
    padding: 2rem;
    backdrop-filter: blur(10px);
}


.promotion-img-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.promotion-img-box img {
    width: 300px;
    height: 200px;
    border-radius: 20px;
}

.promotion-item h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    text-align: center;
    letter-spacing: 0.7px;
    margin: 0 0 0 1rem;
}

.promotion-item p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    text-align: center;
    letter-spacing: 0.7px;
    margin: 0 0 0 1rem;
    padding: 0 1rem 0 1rem;
    word-wrap: break-word;
}

.promotion-item strong {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    text-align: center;
    letter-spacing: 0.7px;
    margin: 0 0 0 1rem;
    padding: 0 1rem 0 1rem;
    word-wrap: break-word;
    font-size: 1.3em;
}

.promotion-item button {
    height: 25%;
    text-align: center;
    width: 200px;
    cursor: pointer;
    margin-left:1rem;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 20px;
    font-size: 19px;
    transition: all 0.05s ease-in;
    align-self: center;
}

.promotion-item button:hover {
    background-color: #333;
    color: #fff;
}

@media only screen and (max-width: 1000px){
    .list-promotion-item .promotion-item {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: 2rem auto 2rem auto;
        box-shadow: 0 2px 2px rgba(54, 54, 54, 0.776);
        border-radius: 20px;
        align-items: center;
        overflow: hidden;
        padding: 2rem;
        backdrop-filter: blur(10px);
    }

    .promotion-img-box img {
        width: 300px;
        height: 200px;
        border-radius: 20px;
    }

    .promotion-item h1 {
        text-align: center;
        letter-spacing: 0.7px;
        margin: 1rem 0 1rem 0;
    }

    .promotion-item p {
        width: 70%;
        margin: 1rem 0 0 0;
    }

    .promotion-item button {
        margin:1.2em 0 1.2em 0;
        padding: 0.8em;
        
    }

    .promotion-item button:hover {
        background-color: #333;
        color: #fff;
    }
}