<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/about.css">
    <title>BearFood - About</title>
</head>
<body>
    <%- include('navbar') %>
    <div class="container">
        <div class="icon-header">
            <img src="https://cdn-icons-png.flaticon.com/512/2682/2682340.png" alt="" class="icon-header">
            <h1>BearFood Dot Com</h1>
        </div>
        <div class="about-main">
            <div class="member-info">
                <div class="member-info-item">
                    <div class="member-info-image">
                        <img src="https://scontent.fbkk10-1.fna.fbcdn.net/v/t39.30808-6/275418141_3179714475645058_4103095683716390571_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=174925&_nc_eui2=AeHuFBfG4WreKlbIROF5v2mjFGtpe9WXC1sUa2l71ZcLW-flngovNqNxBPnEeyIBBNIMrfJeL7qZ03vbBxny0sfZ&_nc_ohc=W5XjZM_a5bIAX-uTKcn&_nc_oc=AQmC6Sqoijb8ucFd9JCgIU6Mn1NLcNUNg5lvKymsfamM4eqZn5hepleA74GAwG7qDCQ&_nc_ht=scontent.fbkk10-1.fna&oh=00_AfAe7MhepfAOWwK0OwZwN8Znc9CEvh9gjFS4gSg7HiASVA&oe=641413FF" alt="">
                    </div>
                    <div class="member-info-text">
                        <h4>Warapon Jitsook</h4>
                        <p>6430300862</p>
                    </div>
                </div>
                <div class="member-info-item">
                    <div class="member-info-image">
                        <img src="https://scontent.fbkk10-1.fna.fbcdn.net/v/t39.30808-6/312454351_2033689813494411_7989511779998610807_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=174925&_nc_eui2=AeFkv8hBxw_Rdjj0PNNYRS6gNRV3kwtWfcw1FXeTC1Z9zGnNAuayj3QTJEDr5KPhvWVdEk8chK0MMUjaVWUhdQzT&_nc_ohc=h7Cb919JSxAAX8-QO2E&_nc_ht=scontent.fbkk10-1.fna&oh=00_AfB8ouZv0woX6yzcYI2ODEu_dKNhuOg9dCMQjD8JD08-Ow&oe=64141330" alt="">
                    </div>
                    <div class="member-info-text">
                        <h4>Pim Kalasinmongkol</h4>
                        <p>6430300668</p>
                    </div>
                </div>
                <div class="member-info-item">
                    <div class="member-info-image">
                        <img src="../img/S__4005905.jpg" alt="">
                    </div>
                    <div class="member-info-text">
                        <h4>Pemipipha Phanitikrairattakul</h4>
                        <p>6430300587</p>
                    </div>
                </div>
            </div>
            <div class="store-info">
                <div class="store-info-container">
                    <div class="store-info-section">
                        <p><img src="https://cdn-icons-png.flaticon.com/512/552/552489.png" alt="">  099-999-9999</p>
                        <p><img src="https://cdn-icons-png.flaticon.com/512/3670/3670089.png" alt="">  BearFood_KU</p>
                        <p><img src="https://cdn-icons-png.flaticon.com/512/3670/3670032.png" alt="">  BearFood</p>
                    </div>
                    <div class="store-info-section">
                        <p>Location<img src="https://cdn-icons-png.flaticon.com/512/2991/2991231.png" alt=""></p>
                        <p>Kasetsart University</p>
                        <p>Sriracha ,Chonburi ,20230</p>
                    </div>
                </div>
                <div class="about-webpage">
                    <h1>About Page</h1>
                    <p>BearFood is web application for sell about food and drink ,Being a middleman in purchasing and selling to clients who come in</p>
                    <small>Copyright &copy; 2023 EarthStrixDEV</small>
                </div>
            </div>
        </div>
    </div>
</body>
</html>