<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/about.css">
    <link rel="icon" href="../img/icon_header.png" />
    <title>BearFood - About</title>
</head>
<body>
    <%- include('navbar') %>
    <div class="container-fluid">
        <div class="icon-header">
            <img src="https://cdn-icons-png.flaticon.com/512/2682/2682340.png" alt="" class="icon-header">
            <h1>BearFood Dot Com</h1>
        </div>
        <div class="about-main">
            <div class="member-info">
                <div class="member-info-item">
                    <div class="member-info-image">
                        <img src="../img/275287996_3179714005645105_827530657849707376_n.jpg" alt="">
                    </div>
                    <div class="member-info-text">
                        <h4>Warapon Jitsook</h4>
                        <p>6430300862</p>
                    </div>
                </div>
                <div class="member-info-item">
                    <div class="member-info-image">
                        <img src="../img/S__4153347.jpg" alt="">
                    </div>
                    <div class="member-info-text">
                        <h4>Pim Kalasinmongkol</h4>
                        <p>6430300668</p>
                    </div>
                </div>
                <div class="member-info-item">
                    <div class="member-info-image">
                        <img src="../img/S__4005905.jpg" alt="">
                    </div>
                    <div class="member-info-text">
                        <h4>Pemipipha Phanitikrairattakul</h4>
                        <p>6430300587</p>
                    </div>
                </div>
            </div>
            <div class="store-info">
                <div class="store-info-container">
                    <div class="store-info-section">
                        <p><img src="https://cdn-icons-png.flaticon.com/512/552/552489.png" alt="">  099-999-9999</p>
                        <p><img src="https://cdn-icons-png.flaticon.com/512/3670/3670089.png" alt="">  BearFood_KU</p>
                        <p><img src="https://cdn-icons-png.flaticon.com/512/3670/3670032.png" alt="">  BearFood</p>
                    </div>
                    <div class="store-info-section">
                        <p>Location<img src="https://cdn-icons-png.flaticon.com/512/2991/2991231.png" alt=""></p>
                        <p>Kasetsart University</p>
                        <p>Sriracha ,Chonburi ,20230</p>
                    </div>
                </div>
                <div class="about-webpage">
                    <h1>About Page</h1>
                    <p>BearFood is web application for sell about food and drink ,Being a middleman in purchasing and selling to clients who come in</p>
                    <small>Copyright &copy; 2023 EarthStrixDEV</small>
                </div>
            </div>
        </div>
        <footer>
            <div class="payment">
        <h4>Khai Kong Dot Com</h4>
        <strong>E payment</strong>
        <div class="payment-icon">
          <i class="fa fa-cc-visa" aria-hidden="true"></i>
          <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
          <i class="fa fa-cc-paypal" aria-hidden="true"></i>
          <i class="fa fa-cc-amex" aria-hidden="true"></i>
        </div>
      </div>
      <div class="menu">
        <ul>
          <li>Popular</li>
          <li>Promotion</li>
          <li>Category</li>
          <li>About</li>
        </ul>
        <ul>
          <li>FAQ</li>
          <li>Privacy Policy</li>
          <li>Terms & Conditions</li>
          <li>Return Policy</li>
        </ul>
      </div>
      <div class="contact">
        <p>+6689-xxx-xxxx</p>
        <p>khaikongdotcom@gmail.com</p>
        <div class="social-media-icon">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-youtube" aria-hidden="true"></i>
        </div>
      </div>
    </footer>
    </div>
</body>
</html>