<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cart.css">
    <title>Cart</title>
</head>
<body>
    <h1 class="header-name">Cart</h1>
    <div class="container">
        <div class="list-item">
            <table>
                <thead>
                    <tr>
                        <th>Product ID</th>
                        <th>Product Name</th>
                        <th>Product Description</th>
                        <th>Product Price</th>
                        <th>Product Count</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Hamburger</td>
                        <td>Hamburger From mcdonald ,with double cheese meat mixing vegetable</td>
                        <td>1.99S</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Hamburger</td>
                        <td>Hamburger From mcdonald ,with double cheese meat mixing vegetable</td>
                        <td>1.99S</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Hamburger</td>
                        <td>Hamburger From mcdonald ,with double cheese meat mixing vegetable</td>
                        <td>1.99S</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Hamburger</td>
                        <td>Hamburger From mcdonald ,with double cheese meat mixing vegetable</td>
                        <td>1.99S</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Hamburger</td>
                        <td>Hamburger From mcdonald ,with double cheese meat mixing vegetable</td>
                        <td>1.99S</td>
                        <td>2</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="counter-price-item">
            <div class="count-price-box">
                <p class="count-label">Discount</p>
                <p class="total-price">1.99$</p>
            </div>
            <div class="count-price-box">
                <p class="count-label">Delivery</p>
                <p class="total-price">1.99$</p>
            </div>
            <div class="count-price-box">
                <p class="count-label">Subtotal</p>
                <p class="total-price">1.99$</p>
            </div>
            <div class="count-price-box">
                <p class="count-label">Total</p>
                <p class="total-price">1.99$</p>
            </div>
        </div>
        <div class="operation-paying">
            <div class="operation-paying-section">
                <div class="text-promotion">
                    <small>If you have a promotion code ,please enter it here:</small>
                </div>
                <div class="enter-promo">
                    <span><input type="text" name="promo-code" id="promo-code"><button class="btn-promo-code">Apply Discount</button></span>
                </div>
            </div>
            <div class="btn-operation-cart">
                <button id="checkout">Checkout</button>
                <button id="Update_Quantity">Update Quantity</button>
                <button id="Continue_shopping">Continue Shopping</button>
            </div>
        </div>
    </div>
</body>
</html>