<footer>
  <div class="payment">
    <h4>Khai Kong Dot Com</h4>
    <strong>E payment</strong>
    <div class="payment-icon">
      <i class="fa fa-cc-visa" aria-hidden="true"></i>
      <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
      <i class="fa fa-cc-paypal" aria-hidden="true"></i>
      <i class="fa fa-cc-amex" aria-hidden="true"></i>
    </div>
  </div>
  <div class="menu">
    <ul>
      <li>Popular</li>
      <li>Promotion</li>
      <li>Category</li>
      <li>About</li>
    </ul>
    <ul>
      <li>FAQ</li>
      <li>Privacy Policy</li>
      <li>Terms & Conditions</li>
      <li>Return Policy</li>
    </ul>
  </div>
  <div class="contact">
    <p>+6689-xxx-xxxx</p>
    <p>khaikongdotcom@gmail.com</p>
    <div class="social-media-icon">
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <i class="fa fa-twitter" aria-hidden="true"></i>
      <i class="fa fa-instagram" aria-hidden="true"></i>
      <i class="fa fa-youtube" aria-hidden="true"></i>
    </div>
  </div>
</footer>
