<link rel="stylesheet" href="path/to/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<nav>
    <h2>BearFood Dot Com.</h2>
    <ul>
        <% if (customer || seller) { %>
            <a href="/home/" id="home">Home <i class="fa fa-home" aria-hidden="true"></i></a>
            <a href="/home/popular">Popular <i class="fa fa-star" aria-hidden="true"></i></a>
            <a href="/home/promotion">Promotion <i class="fa fa-bullhorn" aria-hidden="true"></i></a>
            <a href="">About <i class="fa fa-info-circle" aria-hidden="true"></i></a>
        <% } %>
    </ul>
    <div class="icon-container">
        <% if (customer || seller) { %>
        <% if (customer) { %>
        <span>
            <i class="fa fa-search"></i>
        </span>
        <span>
            <a href="/home/cart" style="color:rgba(31, 31, 31, 0.714);"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
        </span>
        <% } %>
        <% if (seller) { %>
            <span>
                <a href="/home/products" style="color:rgba(31, 31, 31, 0.714);"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
            </span>
        <% } %>
        <span>
            <a href="/home/userProfile" style="color:rgba(31, 31, 31, 0.714);"><i class="fa fa-address-book" aria-hidden="true"></i></a>
        </span>
        <span>
            <a href="/home/logout" style="color:rgba(31, 31, 31, 0.714);" onclick="return confirm('Are you sure to Logout??');"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </span>
        <% } else { %>
        <div></div>
        <% } %>
    </div>
</nav>