<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="../css/popular.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="../img/icon_header.png" />
    <title>BearFood - Popular</title>
</head>
<body>
    <%- include('navbar') %>
    <div class="owl-carousel">
        <div>
            <img src="https://images.pexels.com/photos/905847/pexels-photo-905847.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
        <div>
            <img src="https://images.pexels.com/photos/70497/pexels-photo-70497.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
        <div>
            <img src="https://images.pexels.com/photos/2087748/pexels-photo-2087748.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
        <div>
            <img src="https://images.pexels.com/photos/64208/pexels-photo-64208.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
        <div>
            <img src="https://images.pexels.com/photos/406152/pexels-photo-406152.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
        </div>
    </div>
    <div class="float-caption">
        <h2>New Popular food 2023</h2>
        <h3>Pizza Hamburger Tacco etc.</h3>
        <p>Enjoy you favorite menu for everyday</p>
        <small>Presentation by pexels</small>
    </div>
    <div class="grid-category-name">
        <h2>Food Category</h2>
    </div>
    <div class="grid-category">
        <div class="grid-category-item">
            <img src="https://images.pexels.com/photos/2725744/pexels-photo-2725744.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="grid-category-image">
            <h2 class="grid-category-topic">Fast Food</h2>
        </div>
        <div class="grid-category-item">
            <img src="https://images.pexels.com/photos/2132942/pexels-photo-2132942.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="grid-category-image">
            <h2 class="grid-category-topic">Spicy</h2>
        </div>
        <div class="grid-category-item">
            <img src="https://images.pexels.com/photos/1126359/pexels-photo-1126359.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="grid-category-image">
            <h2 class="grid-category-topic">Dessert</h2>
        </div>
        <div class="grid-category-item">
            <img src="https://images.pexels.com/photos/1233319/pexels-photo-1233319.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="grid-category-image">
            <h2 class="grid-category-topic">Drinks</h2>
        </div>
        <div class="grid-category-item">
            <img src="https://images.pexels.com/photos/15185900/pexels-photo-15185900.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="" class="grid-category-image">
            <h2 class="grid-category-topic">Steak</h2>
        </div>
    </div>
    <div class="popular-food-cover">
        <div class="popular-food-cover-element">
            <h1 class="popular-food-cover-text">International Food</h1>
            <button class="popular-food-cover-btn">Show More</button>
        </div>
        <img src="https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="popular-food-cover-image">
    </div>
    <%- include('footer') %>
    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
    <script src="../OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
    <script src='../js/slider.js'></script>
    <script src="../js/popular.js"></script>
</body>
</html>