<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/products.css">
    <title>Product Management</title>
</head>
<body>
    <header>
        
    </header>
    <section>
        <table>
            <thead>
                <th>ID</th>
                <th>Name </th>
                <th>description</th>
                <th>Price</th>
                <th>Store</th>
            </thead>
            <tbody>
                <!-- Data from database -->
            </tbody>
        </table>
    </section>
</body>
</html>