<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/promotion.css">
    <link rel="icon" href="http://pm1.narvii.com/6750/effb75eea9a6419839e5f8f18fdbad9721115ac4v2_00.jpg">
    <title>Promotion</title>
</head>
<body>
    <%- include('navbar') %>
    <div class="head-banner">
        <img src="../img/banner_promotion.png" alt="">
    </div>
    <div class="list-promotion-item">
        <div class="promotion-item">
            <div class="promotion-img-box">
                <img src="https://api.time.com/wp-content/uploads/2014/08/475623249.jpg" alt="">
            </div>
            <h1>Pizza with <br> mozzarella cheese</h1>
            <p>Pizza with Mozzarella Cheese: A Classic Dish that Never Goes Out of Style
            Pizza is one of the most beloved foods in the world. It's easy to understand why: with its crispy crust, delicious sauce, and melted cheese, pizza is a perfect combination of textures and flavors. And when it comes to cheese, mozzarella is the king.</p>
            <button>Buy Now</button>
        </div>
        <div class="promotion-item">
            <div class="promotion-img-box">
                <img src="https://kebab.vn/wp-content/uploads/2022/10/Double-Cheese.jpg" alt="">
            </div>
            <h1>Double Cheese Burger</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, nesciunt.</p>
            <button>Buy Now</button>
        </div>
        <div class="promotion-item">
            <div class="promotion-img-box">
                <img src="https://insanelygoodrecipes.com/wp-content/uploads/2021/05/Grilled-BBQ-Skewers-with-Pineapples-and-Lemons.jpg" alt="">
            </div>
            <h1>BBQ</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, vero.</p>
            <button>Buy Now</button>
        </div>
        <div class="promotion-item">
            <div class="promotion-img-box">
                <img src="https://www.allrecipes.com/thmb/q2exnhyivkjuGhy8wHlbLHojz-0=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/158140-Spaghetti-sauce-with-ground-beef-mfs-199-5996234f97614eb090b1e88fe91f5360.jpg" alt="">
            </div>
            <h1>Spaghetti with <br> Meat Sauce</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, perferendis.</p>
            <button>Buy Now</button>
        </div>
    </div>
    <footer>
        <div class="payment">
            <h4>Khai Kong Dot Com</h4>
            <strong>E payment</strong>
            <div class="payment-icon">
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
                <i class="fa fa-cc-paypal" aria-hidden="true"></i>
                <i class="fa fa-cc-amex" aria-hidden="true"></i>
            </div>
        </div>
        <div class="menu">
            <ul>
                <li>Popular</li>
                <li>Promotion</li>
                <li>Category</li>
                <li>About</li>
            </ul>
            <ul>
                <li>FAQ</li>
                <li>Privacy Policy</li>
                <li>Terms & Conditions</li>
                <li>Return Policy</li>
            </ul>
        </div>
        <div class="contact">
            <p>+6689-xxx-xxxx</p>
            <p>khaikongdotcom@gmail.com</p>
            <div class="social-media-icon">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <i class="fa fa-youtube" aria-hidden="true"></i>
            </div>
        </div>
    </footer>
</body>
</html>